:root {
  --mdc-theme-primary: #7ECCB4;

  mwc-icon-button::part("mdc-icon-button") {
    background: red;
  }

  .light {
    --primary-color: #7ECCB4;
    --base-color: #fff;
    --underlay-color: #F3F7FD;
    --text-color: #3F3D55;
    --card-color: #fff;
    --mask-color: rgba(0, 0, 0, 0.45);
    --shallow-gray: rgba(112, 112, 112, 0.06);
  }

  .dark {
    --primary-color: #7ECCB4;
    --base-color: #31363F;
    --underlay-color: #24292E;
    --text-color: #D6D8DA;
    --card-color: #31363F;
    --mask-color: rgba(0, 0, 0, 0.83);
    --shallow-gray: rgba(216, 216, 216, 0.08);
  }
}

.text {
  color: var(--normal-text-color);
}

.article-text {
  color: var(--article-text-color);
}

.mini-container {
  width: 600px;
  margin: auto;
}

.article-container {
  width: 760px;
  margin: auto;
}

.non-style-link {
  text-decoration: none;
}

.articles {
  background: var(--base-color);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  padding: 10px 15px;
}

.card {
  border: 1px solid var(--border-color);
  transition: box-shadow 0.3s;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 0px 0px;

  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .container, .mini-container {
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .article-container {
    width: 100%;
    overflow: hidden;
    padding: 10px 30px;
    box-sizing: border-box;
  }
}
