@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    min-height: 100%;
  }
}

@layer components {
  .pixel-badge {
    box-shadow:
      1px 0 red,
      2px 0 green,
      3px 0 blue;

    position: relative;
  }

  .pixel-badge::before {
    content: "";
    width: 100%;
    height: 5px;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
  }
}
