:root {
  .light {
    --base-text-color: #404040;
    --banner-text-color: #3f3d55;
    --sub-text-color: #3f3d55;
    --technology-banner-color: #5ed9c1;
    --undercover-color: #fbfbfb;
    --base-color: #fff;
    --border-color: rgba(27, 31, 35, 0.15);
    --thinking-banner-color: #aac6fc;
    --technology-hover-color: rgba(94, 217, 192, 0.3);
    --mask-color: rgba(0, 0, 0, 0.2);
    --deep-mask-color: rgba(0, 0, 0, 0.85);
    --post-banner-color: #a7d99a;
    --title-color: #1d2129;
    --attach-text-color: #cecece;
    --comment-item-color: #fff;
    --links-banner-color: #a29bfe;

    // old
    --primary-color: #3970f5;
    --header-color: #3970f5;
    --mdc-theme-primary: #3970f5;
    --mdc-theme-secondary: #ff7979;
    --category-color: #f8f9fa;
    --normal-text-color: black;
    --article-text-color: #404040;
    --side-bar-color: #fff;
    --code-block-bg: #fffcf2;
    --code-color: #535c68;
    --code-bg: rgba(255, 121, 121, 0.15);
    --blockquote-color: #636e72;
    --shallow-gray: #4e5969;
    --prompt-color: #636e72;
    --search-card-color: #fff;
    --search-card-hover-color: rgba(255, 255, 255, 0.2);
    --search-bg-color: #dfe6e9;
  }

  .dark {
    --deep-mask-color: rgba(0, 0, 0, 0.85);
    --comment-item-color: #1f2223;
    --base-text-color: #fff;
    --banner-text-color: #3f3d55;
    --sub-text-color: #dfe6e9;
    --technology-banner-color: #5ed9c1;
    --undercover-color: #1f2223;
    --base-color: #181a1b;
    --border-color: #000;
    --thinking-banner-color: #aac6fc;
    --technology-hover-color: rgba(94, 217, 192, 0.3);
    --mask-color: rgba(0, 0, 0, 0.2);
    --post-banner-color: #a7d99a;
    --title-color: white;
    --attach-text-color: #cecece;
    --links-banner-color: #a29bfe;

    // old
    --header-color: #181a1b;
    --primary-color: #3970f5;
    --shallow-gray: #4e5969;
    --mdc-theme-primary: #3970f5;
    --mdc-theme-secondary: #ff7979;
    --category-color: #1b1e1f;
    --mdc-tab-text-label-color-default: #939293;
    --normal-text-color: white;
    --side-bar-color: #181a1b;
    --code-block-bg: #282c34;
    --article-text-color: white;
    --code-color: #6ab04c;
    --code-bg: #000;
    --blockquote-color: #dfe6e9;
    --prompt-color: #dfe6e9;
    --search-card-color: #fff;
    --search-card-hover-color: rgba(255, 255, 255, 0.2);
    --search-bg-color: #2d3436;
  }
}

.text {
  color: var(--normal-text-color);
}

.article-text {
  color: var(--article-text-color);
}

.container {
  width: 960px;
  margin: auto;
}

.article-container {
  width: 760px;
  margin: auto;
}

.non-style-link {
  text-decoration: none;
}

.articles {
  background: var(--base-color);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  padding: 10px 15px;
}

.card {
  border: 1px solid var(--border-color);
  transition: box-shadow 0.3s;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 0px 0px;

  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .article-container {
    width: 100%;
    overflow: hidden;
    padding: 10px 30px;
    box-sizing: border-box;
  }
}

* {
  transition: background-color 0.1s;
}
