.markdown-heading {
    font-size: 25px;
    transition: 0.1s all;
    cursor: pointer;
    position: relative;

    &:hover {
        color: var(--mdc-theme-primary);
    }

    &:hover::before {
        content: '#';
        position: absolute;
        right: 100%;
        margin-right: 10px;
    }
}

.markdown-heading-anchor {
    text-decoration: none;
}

.markdown-img-container {
    max-width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;

    .markdown-img {
        max-width: 960px;
        max-height: 400px;
        border-radius: 5px;
    }

    .markdown-img-alt {
        margin-top: 10px;
    }
}

blockquote {
    border-left: 8px solid var(--mdc-theme-primary);
    margin: 0;
    padding: 10px;
    background: rgba(57, 113, 245, 0.1);
    border-radius: 5px;
    padding-left: 15px;

    p {
        color: var(--blockquote-color) !important;
        font-size: 14px;
        margin: 0;
    }
}

.markdown-spotlight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;

    .markdown-spotlight__content {
        text-align: center;
        font-style: italic;
    }

    .markdown-spotlight__icon {
        width: 25px;
    }
}

.markdown-github-render-block-container {
    .markdown-github-render-block-link {
        text-decoration: none;
    }

    .markdown-github-render-block {
        max-width: 450px;
        width: fit-content;
        overflow: hidden;
        border-radius: 5px;
        background: var(--mdc-theme-primary);
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        margin: 25px 0;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .markdown-github-render-block-icon {
            width: 50px;
        }

        .markdown-github-render-block-info {
            margin-left: 15px;

            .markdown-github-render-block-repo {
                color: white;
                font-size: 16px;
            }

            .markdown-github-render-block-desc {
                color: white;
                font-size: 14px;
                line-height: 1.5;
            }
        }

        .markdown-github-render-block-goto {
            width: 35px;
            height: 35px;
            flex-shrink: 0;
            background: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }
}

.markdown-code {
    background: var(--code-bg);
    padding: 3px 7px;
    border-radius: 5px;
    color: var(--code-color) !important;
}

.markdown-code-block {
    padding: 10px 15px;
    background: var(--code-block-bg);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    .markdown-mac-control-bars {
        display: flex;
        align-items: center;

        .control-bar {
            width: 13px;
            height: 13px;
            margin-right: 8px;
            background: #fff;
            border-radius: 50%;
        }

        .markdown-mac-close-bar {
            @extend .control-bar;
            
            background: #ff5f57;
        }
        .markdown-mac-min-bar {
            @extend .control-bar;

            background: #febc2e;
        }
        .markdown-mac-max-bar {
            @extend .control-bar;

            background: #28c840;
        }
    }

    pre {
        background-color: var(--code-block-bg) !important;
        white-space: break-spaces;
    }
}

.markdown-container {
    * {
        color: var(--article-text-color);
    }
}

@media (max-width: 600px){
    .markdown-img-container {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        .markdown-img {
            max-width: 100%;
            border-radius: 5px;
        }
    }

    .markdown-spotlight {
        .markdown-spotlight__icon {
            width: 18px;
            margin: 0 5px;
        }
    }
    
}
