use std::*;

#[derive(Clone)]
pub struct PostFile {
    pub content: &'static str,
    pub modified_time: u128,
    pub filename: &'static str
}

pub static POSTS: [PostFile; {{TRAVERSE_COUNT}}] = [
    {{TEMPLATE}}
];
